ion-content {
    --background: translucent;
    background-color: #000000;
}

ion-card{
    --background: translucent;
    background-color: #000000;

}
.image{
    text-align: center;
}

.icon{
    font-size: 200px;
    color: #ffffff;
}